.*.swp
*.html

CMakeCache.txt
CMakeFiles/*
Makefile
cmake_install.cmake
*.dtree

.vs/
.vscode/

lexer.c
parser.[ch]
lucc
out

*.exe
*.exe.stackdump

tests/

*.sln
*.sdf
*.VC.opendb
*.vcproj
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
Debug
Release
