*.o
parser.c
*.out
*.lucy
grammar.*
!grammar.y
lex.c
tokens.h
parser.c


translate.h
translate.c
canon.c
canon.h
frame.c
frame.h
assem.c
assem.h

lexical_test
parse_test
main
lucc
lucc.dSYM

main.o.dSYM

